.burgerMenu-container { 
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    height: 100%;
    z-index: 10000000;
    position: fixed;
    transition: all 1s ease;
    background-color: #FFFFFF;
}
    @media only screen and (max-width: 37.5em) {
        .burgerMenu-container { 
            width: 70%;
            min-width: 0px;
            max-width: unset;
        }
    }
    .burgerMenu-container-top {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--primaryBackgroundColor);
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 50px;
        height: 40%;
        max-height: 350px;
    }
        .burgerMenu-container-top-ingresar {
            display: flex;
            background-color: var(--eigthBackgroundColor);
            border-radius: 25px;
            padding: 10px;
            margin-bottom: 40px;
            cursor: pointer;
            text-decoration: none;
        }
            .burgerMenu-container-top-ingresar-text {
                font-style: normal;
                font-weight: 500;
                font-size: 1.25rem;
                text-align: center;
                color: #FFFFFF;
                margin: 0;
            }
            @media only screen and (max-width: 37.5em) {
                .burgerMenu-container-top-ingresar-text {
                    font-size: 1rem;
                }
            }
        .burgerMenu-container-top-user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .burgerMenu-container-top-user-name {
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
                text-align: center;
                color: #FFFFFF;
                margin: 0;
            }
            @media only screen and (max-width: 37.5em) {
                .burgerMenu-container-top-user-name {
                    font-size: 1.75rem;
                }
            }
            .burgerMenu-container-top-user-email {
                font-style: normal;
                font-weight: normal;
                font-size: 1.25rem;
                text-align: center;
                color: #FFFFFF;
                margin: 0;
            }
            @media only screen and (max-width: 37.5em) {
                .burgerMenu-container-top-user-email {
                    font-size: 1rem;
                }
            }
        .burgerMenu-container-top-profileImg {
            margin: 0 auto;
            width: 125px;
            height: 125px;
            border-radius: 100px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        @media only screen and (max-width: 37.5em) {
            .burgerMenu-container-top-profileImg {
                width: 100px;
                height: 100px;
            }
        }
    .burgerMenu-container-mask {
        display: flex;
        background: var(--primaryBackgroundColor);
        height: 100px;
        width: 100%;
    }
        @media only screen and (max-width: 37.5em) {
            .burgerMenu-container-mask {
                background-color: var(--primaryBackgroundColor);
            }}
        .burgerMenu-container-mask-inner {
            display: flex;
            background: #FFFFFF;
            height: 101px;
            width: 100%;
            border-top-right-radius: 50px;
        }
    .burgerMenu-container-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 40%;
        max-height: 400px;
        margin-left: 20px;
        margin-top: -70px;
        overflow-y: scroll;
    }
        .burgerMenu-container-main-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 15px;
            border-radius: 25px;
            background-color: transparent;
            cursor: pointer;
        }
            .burgerMenu-container-main-item:active {
                background-color: rgba(0, 0, 0, 0.05);
            }
            .burgerMenu-container-main-item:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
            .burgerMenu-container-main-item-text {
                font-style: normal;
                font-weight: normal;
                font-size: 1.25rem;
                align-items: center;
                color: var(--primaryThirdTextColor);
                margin: 0;
                margin-left: 10px;
            }
            @media only screen and (max-width: 37.5em) { 
                .burgerMenu-container-main-item-text {
                    font-size: 1rem;
                }
            }
    .burgerMenu-container-bot {
        display: flex;
        position: absolute;
        align-items: flex-end;
        flex-direction: column;
        bottom: 0;
        width: 80%;
        margin-bottom: 30px;
        margin-left: 30px;
    }
        .burgerMenu-container-bot-line {
            height: 1px;
            width: 100%;
            background-color: var(--primaryBackgroundColor);
            opacity: 0.5;
        }
        .burgerMenu-container-bot-cerrar {
            font-style: normal;
            font-weight: normal;
            font-size: 1.25rem;
            text-align: right;
            color: var(--primaryThirdTextColor);
            margin: 0;
            margin-top: 30px;
            cursor: pointer;
        }
    .burgerMenu-container-outer {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        transition: all 1s ease;
    }
        @media only screen and (min-width: 37.5em) {
            .burgerMenu-container-outer {
                width: 100%;
            }
        }