.contenedor{
    overscroll-behavior-y: contain;
    overscroll-behavior: contain;
}

#canvas::-webkit-full-screen #canvas {
    display: none;
  }
  #canvas:-moz-full-screen #canvas {
    display: none;
  }
  #canvas:-ms-fullscreen #canvas {
    display: none;
  }
  #canvas:fullscreen #canvas {
    display: none;
  }