body > .contenedor:-moz-full-screen {
    /* overscroll-behavior: c;
    position: fixed;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; */
  }

body > .contenedor:-moz-full-screen {
  /* overscroll-behavior: contain;
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; */
}

body > .contenedor:fullscreen {
  /* overscroll-behavior: contain;
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; */
}

body > .contenedor:-webkit-full-screen {
  /* overscroll-behavior: contain;
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; */
}